body{
  font-family:arial;
 
  color:#fff;
  text-align:center;
  background-color: #24C2CB;
 
  
}

.wrapper{
 
  margin:0 auto;
  width:600px;
  
}

.filter{
  padding:5px 10px;
  border:1px solid #999;
  background:#000;
  box-shadow:1px 2px 1px #fff;
  border-radius: 10px;
  text-transform:uppercase;
  cursor:pointer;
  font-weight:bold;
}

.filter:active,.filter:focus{
  background:#999;
  box-shadow:1px 1px 5px #fff;
}

#data{
  margin:50px 0 0 0;
  font-size:24px;
}

#score{
    margin-top:20px;
    font-weight:bold;
}



#data ul li{
  list-style: none;
  padding:30px 10px;
  width:500px;
  border-top:1px solid #fff;
  background:  rgba(8, 46, 65, 0.5);
  transition: background 0.5s ease-in;
  

}

#data ul li:hover{
  background: linear-gradient( rgba(8, 46, 65, 0.4),rgba(255, 255, 255, 0.0));
  border-top:1px solid rgba(255, 255, 255, 0.5);
}
#data ul li:last-child{
  border-bottom:1px solid #fff;
}

.loading{
  animation: loading 1s ease-in;
}

@keyframes loading{
  0%{
    opacity:0;

  }
  100%{
    opacity: 1;
  }
}